# Python caches
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Data Files (Don't upload heavy data!)
data/

# Experiment Results & Plots
results/debug_run
results/full_run/data
results/full_run/plots/readme_assets

# Logs
*.log

# Reference of different code
references/